
.hero-section{
    padding: 0;
}
.navbarshop:hover{
    transform: scale(1.15);
}
.navbarabout:hover{
    transform: scale(1.15);
}
.navbarour:hover{
    transform: scale(1.15);
}
.herosech1{
    font-size: 60px;
}
.herosecp{
    font-size: 22px;
}
.iconhover:hover{
    transform: scale(1.15);
}
.btn-dark:hover{
    transform: scale(1.15);
}

.fa-arrow-up{
    font-size: 40px;
}
.fa-arrow-up:hover{
transform: scale(1.20);
}

.linkshover:hover{
    transform: scale(1.02);
}
.login{
    height: 80vh;
}
.navbarfixed{
    color: black;
    z-index: 1;
    border: 1px solid black;
    padding: 0;
}