/* .hero-section */

.herosec {
    height: 100vh;
    background-image: url(../img/herosection.jpg);
    background-size: cover;
}

.herosech1 {
    font-size: 60px;
}

.herosectexts h1 {
    font-size: 60px;
    padding: 0px 80px 0px 80px;
}

.herosectexts p {
    font-size: 25px;
    padding: 20px 80px 20px 80px;
}

.herosectexts a {
    width: 30px;
    margin: 80px 80px 0px 80px;
}

@media screen and (max-width:500px) {

    .herosectexts h1 {
        font-size: 50px;
        padding: 0px 40px 0px 40px;
    }

    .herosectexts p {
        font-size: 20px;
        padding: 20px 40px 20px 40px;
    }

    .herosectexts a {
        width: 30px;
        margin: 80px 40px 0px 40px;
    }

}

.herosecp {
    font-size: 22px;
}

.herosecbtn {
    padding: 10px 150px 10px 150px;
}

.transparent{
    background-color: transparent;
}

.herosecbtn:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.animation-btn:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.animaation:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.

.navbar .col-lg {
    width: fit-content;
}

.item {
    width: 120px;
}

.whybits-icon {
    font-size: 20px;
}

.fa-arrow-up {
    font-size: 40px;
    position: relative;
    animation: fa-arrow-up 2s infinite;
    animation-timing-function: linear;
}

.fa-arrow-up:hover {
    transform: scale(1.20);
}

@keyframes fa-arrow-up {
    from {
        top: 30px
    }

    to {
        top: 0px;
    }
}

.linkshover {
    text-decoration: none;
}

.linkshover:hover {

    text-decoration: underline;

}

.hero-section-btn:hover {
    transform: scale(1.03);
}

.howtousesection-btn:hover {
    transform: scale(1.03);
}

#howtousesectionimg:hover {
    transform: scale(1.03);
}

.howtousesection-btn:hover {
    transform: scale(1.03);
}

.about-div-sm {
    background-color: aquamarine;
    width: fit-content;
}


@media screen and (max-width:500px) {
    .hero-section {
        padding: 10px;
    }

    .hero-section-btn {
        padding: 10px 10px 10px 10px;
    }

    .whybits-div-two {
        display: block;
    }
}

.aboutcontenth1 {
    padding: 150px 0px 150px 0px;
    font-size: 60px;
}

/* hovers (shop by catagaory)*/

.ShopByCategory:hover {
    transform: scale(1.03);
    transition: all 0.3s linear;
}

.faqbackground {
    background-color: transparent;
}

.faq-1-border {

    width: 100%;
    /* border-bottom: 1px solid black; */
    border-top: 0px solid rgb(255, 255, 255);
    border-left: 0px solid rgb(255, 255, 255);
    border-right: 0px solid rgb(255, 253, 253);

}

.smaller_text {


    font-size: 20px;

}

